
* {
  font-family: Helvetica;
  font-size: 6;


}


p {

    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 15%;
    margin-left: 15%;

}

h2 {
    margin-right: 15%;
    margin-left: 15%;
}

h3 {
    margin-right: 15%;
    margin-left: 15%;
}

        #sidebar-right {
            
        }


.imgBox {
     padding: 10px;
     display: inline-block;
     height: 80%;
  margin: auto;
}
.imgBox img {
  padding: 10px;
  display: inline-block;
  /*width:auto;*/
  width: 190px;
  height: 190px;
  max-width: 80%;
  max-height: 80%;
  margin: auto;
  float: left;  
}
.Alumnimg {
  padding: 5px;
     display: inline-block;
     height: 80%;
  margin: 10px;
  float: left;
}
.Alumnimg img {
  padding: 10px;
  display: inline-block;
  /*width:auto;*/
  width: 190px;
  height: 190px;
  max-width: 80%;
  max-height: 80%;
  margin: auto;  
}
.Zeyimg {
  padding: 5px;
     display: inline-block;
     height: 80%;
  margin-left:0%;
  margin-right:2%;
    float: left;  
}
.Zeyimg img {
  padding: 5px;
  display: inline-block;
  /*width:auto;*/
  width: 200px;
  height: 200px;
  max-width: 80%;
  max-height: 80%;
  margin: auto;
}
/* Zeynep. style= "display: inline; width:190px; height:190px; padding:5px; float: left; margin-left:0%; margin-right:2%;*/
/* members style= "display: inline; width:190px; height:190px; padding:5px; align=left; float: left; margin-right: 10px; margin-left:1.3%;"*/
.nav{

    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    color: #f2f2f2;
   /* display: block;  */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size:125%;
}
.nav li{
    display:inline;
    color: yellow;
    text-decoration: none;
}

/* .nav a:hover, a:active {
    color:white;
}   /*


/* Add a black background color to the top navigation */
.topnav {
    background-color: #000;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;

}

/* mouse over link */
a:hover {
    color: red;
}



/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 125%;
}

.nav a{
 /* display:inline-block; */
    padding:10px;
    text-decoration:none;
    color: white;
}

/* Change the color of links on hover */
.nav a:hover {
    background-color:#f2f2f2;
    color: white;
}


/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;


body {
  background: #C0C0C0;
  margin: 0;
  margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 200px;
    margin-left: 200px;
}


/* Navigation */

.navigation {
  box-sizing: border-box;
  background-color: #3587A4;
  overflow: auto;
  padding: 18px 50px;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 999;
  width:750px;
  margin:0 auto;
}

ul {

    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 25%;
    margin-left: 25%;

  
}

li {
  color: #FFF;
  display: inline-block;
  font-family: 'Oxygen', sans-serif;
  font-size: 125%;
  font-weight: 300;
  letter-spacing: 2px;

  text-transform: uppercase;
  
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 25%;
    margin-left: 25%;
}

.active {
  color: #88CCF1;
}

/* Table */

table {
  height: 40%;
  left: 10%;
  margin: 20px auto;
  overflow-y: scroll;
  position: static;
  width: 80%;
}

thead th {
  background: #88CCF1;
  color: #FFF;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 2px;
  text-transform: uppercase;
}

tr {
  background: #f4f7f8;
  border-bottom: 1px solid #FFF;
  margin-bottom: 5px;
}

th, td {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding: 20px;
  text-align: left;
  width: 33.3333%;
}

.search {
  background-color: #C0C0C0;
  border: 1px solid #DDD;
  border-radius: 3px;
  color: #AAA;
  padding: 20px;
  margin: 50px auto 0px auto;
  width: 77%;
}
#labphoto {
  display: inline-block;
  width: 100%;
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
}
  
#img-wrap {
  display: inline-block;
  position: absolute;
  width: 100%;
  margin: 0;
  overflow: hidden;
}
